<%- include('parts/header') %>
<%- include('parts/navbar') %>
<!-- Start Main Slider Area -->
<div class="main-slider-area">
    <div class="home-slides owl-carousel owl-theme">
        <div class="main-slider-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="main-slider-content">
                                    <span>Take Natural Taste From Our Shop</span>
                                    <h1>Organic Food Is Good For Health</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
                                    <div class="slider-btn">
                                        <a href="shop-1" class="default-btn">Our Shop</a>
                                        <a href="cart" class="optional-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="main-slider-image">
                                    <img src="/img/main-slider/main-slider-1.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main-slider-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="main-slider-content">
                                    <span>Take Natural Taste From Our Shop</span>
                                    <h1>Vegetables Good For Health</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
                                    <div class="slider-btn">
                                        <a href="shop-1" class="default-btn">Our Shop</a>
                                        <a href="cart" class="optional-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="main-slider-image">
                                    <img src="/img/main-slider/main-slider-1.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-slider-shape">
        <div class="shape-1">
            <img src="/img/main-slider/slider-shape-1.png" alt="image">
        </div>
    </div>
</div>
<!-- End Main Slider Area -->

<!-- Start Features Area -->
<section class="features-area pt-100 pb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="features-image">
                    <img src="/img/features.png" alt="image">
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="features-item">
                    <div class="features-content">
                        <span>Features</span>
                        <h3>Special Product For Orgo Loving People</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
                    </div>
                    
                    <div class="features-inner-content">
                        <div class="icon">
                            <i class="flaticon-nature"></i>
                        </div>
                        <h4>Natural Products</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                    
                    <div class="features-inner-content">
                        <div class="icon">
                            <i class="flaticon-leaf"></i>
                        </div>
                        <h4>Best Food For Health</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                    
                    <div class="features-inner-content">
                        <div class="icon">
                            <i class="flaticon-medal"></i>
                        </div>
                        <h4>Award-Winning Company</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

    <!-- Start Top Products Area -->
    <% productTop %>
    <section class="top-products-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Trending Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            
            <div class="row">
                <% if(productTop.length) { %>
                    <% for(let i = 0; i < productTop.length; i++) { %>
                        <div class="col-lg-3 col-md-6">
                            <div class="top-products-item">
                                <div class="products-image">
                                    <a href="shop-details"><img src="<%= `/product_img/${productTop[i]._id}.jpg` %>" alt="image"></a>
                                    
                                    <ul class="products-action">
                                        <li>
                                            <a href="#" data-tooltip="tooltip"data-placement="top" title="Add to Cart" >
                                                <form action="index-3" method="POST" class="product-cart" >
                                                    <label class="d-none">
                                                        <input type="hidden" class="visually-hidden" name="product_id" value="<%= `${product[i]._id}` %>">
                                                    </label>
                                                    <label class="m-0 p-0">
                                                        <i class="flaticon-shopping-cart" data-id="<%= `${product[i]._id}` %>"></i>
                                                    <button type="submit" class="d-none">
                                                    </button>
                                                    </label>
                                                </form>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                                <i class="flaticon-search"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                    <div class="sale">
                                        <span>Sale</span>
                                    </div>
                                </div>
                                
                                <div class="products-content">
                                    <h3>
                                        <a href="shop-details"><%= productTop[i].product_name %></a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price">$<%= productTop[i].new_pricing %></span>
                                        <span class="old-price">$<%= productTop[i].old_pricing %></span>
                                    </div>
                                    <ul class="rating">
                                        <li>
                                            <% for(let j = 0; j < productTop[i].total_count; j++) { %>
                                                <i class='bx bxs-star'></i>
                                            <% } %>   
                                            <% for(let k = 0; k < 5 - productTop[i].total_count; k++) { %>
                                                <i class='bx bx-star'></i>
                                            <% } %>     

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }else {%> 
                    <h1>Hozircha Trendagi mahsulotlar yo'q afsuski :))))</h1>
                <% } %>
            </div>
        </div>
    </section>
    <!-- End Top Products Area -->

<!-- Start Juice Area -->
<section class="juice-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="juice-item">
                    <div class="juice-image">
                        <img src="/img/juice/juice-1.jpg" alt="image">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4">
                <div class="juice-item">
                    <div class="juice-image">
                        <img src="/img/juice/juice-2.jpg" alt="image">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4">
                <div class="juice-item">
                    <div class="juice-image">
                        <img src="/img/juice/juice-3.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Juice Area -->


   <!-- Start Featured Products Area -->
   <% var productNews %>
   <section class="featured-products-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Featured  Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
        </div>
        
        <div class="row">
            <% if(productNews.length) { %>
                <% for(let i = 0; i < productNews.length; i++) { %>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <a href="shop-details"><img src="<%= `/product_img/${productNews[i]._id}.jpg` %>" alt="image"></a>
                            
                            <ul class="products-action">
                                <li>
                                    <a href="#" data-tooltip="tooltip"data-placement="top" title="Add to Cart" >
                                        <form action="index-3" method="POST" class="product-cart" >
                                            <label class="d-none">
                                                <input type="hidden" class="visually-hidden" name="product_id" value="<%= `${product[i]._id}` %>">
                                            </label>
                                            <label class="m-0 p-0">
                                                <i class="flaticon-shopping-cart" data-id="<%= `${product[i]._id}` %>"></i>
                                            <button type="submit" class="d-none">
                                            </button>
                                            </label>
                                        </form>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="new">
                                <span>New</span>
                            </div>
                        </div>
                        
                        <div class="products-content">
                            <h3>
                                <a href="shop-details"><%= productNews[i].product_name %></a>
                            </h3>
                            <div class="price">
                                <span class="new-price">$<%= productNews[i].new_pricing %></span>
                                <span class="old-price">$<%= productNews[i].old_pricing %></span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <% for(let j = 0; j < productNews[i].total_count; j++) { %>
                                        <i class='bx bxs-star'></i>
                                    <% } %>   
                                    <% for(let k = 0; k < 5 - productNews[i].total_count; k++) { %>
                                        <i class='bx bx-star'></i>
                                    <% } %>     

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% } %>
            <% }else{ %>
                <h1>Yangi mahsulotlardan hozircha yo'q ekan xo'jayin</h1>
            <% } %>
        </div>
    </div>
</section>
<!-- End Featured Products Area -->


<!-- Start Why Choose Area -->
<section class="why-choose-area choose-item-two pb-100">
    <div class="container">
        <div class="why-choose-item">
            <div class="content">
                <span>Why Choose Us</span>
                <h3>We are Ensure of These Types</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            
            <div class="inner-content">
                <div class="icon">
                    <i class="flaticon-leaf"></i>
                </div>
                <h4>Organic</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            
            <div class="inner-content">
                <div class="icon">
                    <i class="flaticon-heart"></i>
                </div>
                <h4>Fast and Easy</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            
            <div class="inner-content">
                <div class="icon">
                    <i class="flaticon-plant"></i>
                </div>
                <h4>High Quality</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>
        </div>
    </div>
</section>
<!-- End Why Choose Area -->
<%- include('section/our-farm') %>
<%- include('section/feedback') %>
<%- include('section/latest-blog') %>
<%- include('parts/footer') %>