<%- include('parts/header') %>
<%- include('parts/navbar') %>

        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>Shop List</h2>
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>Shop List</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        <% var product %>
        <!-- Start Top Products Area -->
        <section class="top-products-area pt-100 pb-100">
            <div class="container">
                
                <div class="row">
                    <% if(product.length) { %>
                        <% for(let i = 0; i < product.length; i++) { %>
                        <div class="col-lg-3 col-md-6">
                            <div class="top-products-item">
                                <div class="products-image">
                                    <a href="shop-details"><img src=" <%= `/product_img/${product[i]._id}.jpg` %>" alt="image"></a>
    
                                    <ul class="products-action">
                                        <li>
                                            <a href="#" data-tooltip="tooltip"data-placement="top" title="Add to Cart" >
                                                <form action="shop-1" method="POST" class="product-cart" >
                                                    <label class="d-none">
                                                        <input type="hidden" class="visually-hidden" name="product_id" value="<%= `${product[i]._id}` %>">
                                                    </label>
                                                    <label class="m-0 p-0">
                                                        <i class="flaticon-shopping-cart" data-id="<%= `${product[i]._id}` %>"></i>
                                                    <button type="submit" class="d-none">
                                                    </button>
                                                    </label>
                                                </form>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                                <i class="flaticon-search"></i>
                                            </a>
                                        </li>
                                    </ul>
    
                                    <div class="sale">
                                        <span>Product</span>
                                    </div>
                                </div>
    
                                <div class="products-content">
                                    <h3>
                                        <a href="shop-details"><%= product[i].product_name %></a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price">$<%= product[i].new_pricing %></span>
                                        <span class="old-price">$<%= product[i].old_pricing %></span>
                                    </div>
                                    <ul class="rating">
                                        <li>
                                            <% for(let j = 0; j < product[i].total_count; j++) { %>
                                                <i class='bx bxs-star'></i>
                                            <% } %>   
                                            <% for(let k = 0; k < 5 - product[i].total_count; k++) { %>
                                                <i class='bx bx-star'></i>
                                            <% } %>     
        
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <% } %>
                     <% }else { %>
                        <h1>Hozircha Product yo'q</h1>
                     <% }   %>
                </div>
            </div>
        </section>
        <!-- End Top Products Area -->
        <script src="/js/shop.js"></script>
<%- include('parts/footer') %>