    <!-- Start Top Products Area -->
    <% productTop %>
    <section class="top-products-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Trending Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            
            <div class="row">
                <% if(productTop.length) { %>
                    <% for(let i = 0; i < productTop.length; i++) { %>
                        <div class="col-lg-3 col-md-6">
                            <div class="top-products-item">
                                <div class="products-image">
                                    <a href="shop-details"><img src="<%= `/product_img/${productTop[i]._id}.jpg` %>" alt="image"></a>
                                    
                                    <ul class="products-action">
                                        <li>
                                            <a href="#" data-tooltip="tooltip"data-placement="top" title="Add to Cart" >
                                                <form action="index-2" method="POST" class="product-cart" >
                                                    <label class="d-none">
                                                        <input type="hidden" class="visually-hidden" name="product_id" value="<%= `${product[i]._id}` %>">
                                                    </label>
                                                    <label class="m-0 p-0">
                                                        <i class="flaticon-shopping-cart" data-id="<%= `${product[i]._id}` %>"></i>
                                                    <button type="submit" class="d-none">
                                                    </button>
                                                    </label>
                                                </form>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="flaticon-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#productsQuickView">
                                                <i class="flaticon-search"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                    <div class="sale">
                                        <span>Sale</span>
                                    </div>
                                </div>
                                
                                <div class="products-content">
                                    <h3>
                                        <a href="shop-details"><%= productTop[i].product_name %></a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price">$<%= productTop[i].new_pricing %></span>
                                        <span class="old-price">$<%= productTop[i].old_pricing %></span>
                                    </div>
                                    <ul class="rating">
                                        <li>
                                            <% for(let j = 0; j < productTop[i].total_count; j++) { %>
                                                <i class='bx bxs-star'></i>
                                            <% } %>   
                                            <% for(let k = 0; k < 5 - productTop[i].total_count; k++) { %>
                                                <i class='bx bx-star'></i>
                                            <% } %>     

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }else {%> 
                    <h1>Hozircha Trendagi mahsulotlar yo'q afsuski :))))</h1>
                <% } %>
            </div>
        </div>
    </section>
    <!-- End Top Products Area -->